<h1>Google Ads Data</h1>

<table border="1">
  <tr>
    <th>Account</th>
    <% if @keyword %>
      <th>Keyword</th>
    <% end %>
    <th>Impressions</th>
    <th>Cost</th>
    <th>Clicks</th>
    <th>Conversions</th>
    <th>CTR</th>
    <th>CPC</th>
    <th>Conv Rate</th>
    <th>CPA</th>

  </tr>
    <% if !@totals.empty? %>
      <% @totals.each do |total| %>
        <tr>
          <td><%= total[:account] %></td>
          <td><%= total[:impressions] %></td>
          <td>$<%= total[:cost] %></td>
          <td><%= total[:clicks] %></td>
          <td><%= total[:conversions] %></td>
          <td><%= total[:ctr] %>%</td>
          <td>$<%= total[:cpc] %></td>
          <td><%= total[:conv_rate] %>%</td>
          <td>$<%= total[:cpa] %></td>
        </tr>
      <% end %>

    <% else %>
      <% @filter_output.each do |filter| %>
        <tr>
          <td><%= filter[:account] %></td>
          <% if @keyword %>
            <td><%= filter[:keyword] %></td>
          <% end %>
          <td><%= filter[:impressions] %></td>
          <td>$<%= filter[:cost] %></td>
          <td><%= filter[:clicks] %></td>
          <td><%= filter[:conversions] %></td>
          <td><%= filter[:ctr] %>%</td>
          <td>$<%= filter[:cpc] %></td>
          <td><%= filter[:conv_rate] %>%</td>
          <td>$<%= filter[:cpa] %></td>
        </tr>
      <% end %>
    <% end %>
</table>

<%= form_tag google_datas_path, method: 'get' do %>
  <div>
    <% @account_collection.each do |account| %>
      <%= check_box_tag("account[selected_account][]", "#{account}") %>
      <%= label_tag("account", "#{account}") %>
    <% end %>

    <%= check_box_tag("device[selected_device][]", "mobile") %>
    <%= label_tag(:device, "mobile") %>
    <%= check_box_tag("device[selected_device][]", "tablet") %>
    <%= label_tag(:device, "tablet") %>
    <%= check_box_tag("device[selected_device][]", "desktop") %>
    <%= label_tag(:device, "desktop") %>
    <%= check_box_tag(:campaign, "campaign") %>
    <%= label_tag(:campaign, "Campaign") %>
    <%= check_box_tag(:ad_group, "ad group") %>
    <%= label_tag(:ad_group, "Ad Group") %>
    <%= radio_button_tag(:table, "keyword") %>
    <%= label_tag(:table_keyword, "Keyword") %>
    <%= radio_button_tag(:table, "ad") %>
    <%= label_tag(:table_ad, "Ad") %>
    <%= submit_tag "Create Table", name: nil %>
  </div>
<% end %>
